.hotelDetails-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.hotelDetails-name {
  margin-top: 0;
}

.image-grid {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.big-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.small-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 400px;
  width: 100%;
}

.small-images img {
  width: 48%; /* Adjust the width as needed */
  height: auto;
  margin: 0.5%; /* Add some margin between images */
}

.hotelDetails {
  margin-bottom: 1rem;
}

.hotelDetails p {
  margin: 0;
}
