.hotel-details-details {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.hotel-details-booking {
  width: 40%;
  margin-left: 20px;
  position: sticky;
  top: 20px; /* Adjust the value to fit your needs */
  margin-top: 50px;
}

.hotel-details-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hotel-details-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.image-grid {
  margin-bottom: 20px;
  width: 90%;
}

.hotel-detail-images img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-right: 10px;
}

.hotelDetails p {
  margin-bottom: 10px;
  text-align: justify;
}

.hotelDetails strong {
  font-weight: bold;
}

.blue-button {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hotel-details-details {
    flex-direction: column;
    padding: 10px;
  }

  .hotel-details-booking {
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
    position: static; /* Reset position for mobile devices */
  }

  .hotel-details-name {
    font-size: 20px;
  }

  .hotel-detail-images img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .blue-button {
    margin-right: 0;
  }
}
