.hotel-details-details {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.hotel-details-booking {
  width: 40%;
  margin-left: 20px;
  margin-top: 70px;
}

.hotel-details-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.hotel-details-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.image-grid {
  margin-bottom: 20px;
  width: 90%;
}

.hotel-detail-images img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-right: 10px;
}

.hotelDetails p {
  margin-bottom: 10px;
  text-align: justify;
}

.hotelDetails strong {
  font-weight: bold;
}

.hotel-details-about {
  line-height: 35px;
}

hr {
  color: black;
}

.details-page-button button {
  margin: 10px;
}

@media (max-width: 768px) {
  .hotel-details-details {
    flex-direction: column;
    padding: 10px;
  }

  .hotel-details-booking {
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
    position: static; /* Reset position for mobile devices */
  }

  .hotel-details-name {
    font-size: 20px;
  }

  .hotel-detail-images img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .blue-button {
    margin-right: 0;
  }
}
