.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  box-sizing: border-box;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbar-title {
  font-weight: bold;
}

.authenticate-button {
  background-color: #e9e9e9;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.navbar-buttons button {
  margin-left: 30px;
  border-radius: 8px;
}
