.reviews-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px 20px 20px;
}

.reviews-title {
  text-align: center;
  margin-bottom: 10px;
}

.reviews-divider {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.reviews-list {
  margin-bottom: 20px;
}

.review {
  margin-bottom: 20px;
}

.review-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.reviewer {
  font-weight: bold;
}

.date {
  color: #666;
}

.content {
  margin-bottom: 10px;
}

.review-actions {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.like-button {
  background-color: #00415a;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.like-button.liked {
  background-color: #00ff2a;
}

.like-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.review-divider {
  margin-bottom: 20px;
  border: none;
  border-top: 1px solid #ccc;
}

.new-review-container {
  display: flex;
  justify-content: center;
}

.new-review-box {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #f8f8f8;
}

.new-review-heading {
  margin-bottom: 10px;
}

.review-input {
  width: 100%;
  height: 100px;
  resize: vertical;
  margin-bottom: 10px;
}

.submit-button {
  background-color: #00415a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.no-reviews-message {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  color: #555;
}
