.login-container {
  position: fixed;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  border-radius: 20px;
  background-color: #f0f0f0;
  width: 300px;
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.left {
  background-color: chartreuse;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.right {
  background-color: chartreuse;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
}

.login-input {
  margin-bottom: 20px;
  flex-grow: 1;
  height: 25px;
  border-radius: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-left: 10px;
}

.input-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.login-input + svg {
  margin-left: 10px;
  width: 20%;
  min-width: 20px;
  cursor: pointer;
  max-width: 20px;
}

.switch-mode {
  margin: 20px;
}

.active {
  background-color: rgb(47, 255, 54);
  border: 1px solid rgb(146, 145, 145);
  transform: scale(1.5);
}

button {
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}
