.hotels-container {
  width: 100%;
}

.auth-container {
  width: 28%;
  margin: 20px;
}

.welcomepage-container {
  display: flex;
  padding-top: 40px;
}

@media only screen and (max-width: 767px) {
  .app {
    grid-template-columns: 1fr;
  }
  .auth-container {
    width: 100%;
    display: block;
    margin: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .app {
    grid-template-columns: 1fr;
  }

  .auth-container {
    width: 80%;
    display: block;
  }

  .hotels-container {
    display: none;
  }
}
