.app {
  display: grid;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-left: 10px;
}

.hotels-container {
  width: 100%;
}

.filters-container {
  margin-left: 20px;
  width: 100%;
}

.auth-container {
  width: 100%;
}

.hide-auth {
  grid-template-columns: 15% 1fr;
}

.show-auth {
  grid-template-columns: 15% 1fr 25%;
}
