.filter-button {
  position: absolute;
  top: 12%;
  left: 0.3%;
  cursor: pointer;
}

.filter-right {
  background-color: rgba(224, 232, 240, 0.452);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 3px;
  z-index: 1500;
}
.filter-left {
  border-radius: 5px;
  box-sizing: border-box;

  padding: 3px;
}

.Homescreen-container {
  display: flex;
  padding-top: 40px;
}

.homescreen-filters-container {
  margin: 20px 0 20px 30px;
  width: 300px;
}

.homescreen-hotels-container {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .homescreen-filters-container {
    position: absolute;
    width: 300px;
  }
}
