.filter-button {
  position: absolute;
  top: 12%;
  left: 0.3%;
  cursor: pointer;
}

.Homescreen-container {
  display: flex;
  padding-top: 40px;
}

.homescreen-filters-container {
  margin: 20px 0 20px 30px;
  width: 300px;
}

@media only screen and (max-width: 767px) {
  .homescreen-filters-container {
    position: absolute;
    width: 300px;
  }
}
